<div data-aos="fade-up" class="footer">
  <div class="footer-blur"></div><img src="/images/half-blocks-left.png" loading="lazy" data-aos="fade-up" alt="" class="left-half-block footer-small">
  <div class="top-flex">
    <div class="left-top-container"><img src="/images/logo_2.svg" loading="lazy" width="108" height="48" alt="BlockRocket Logo" class="footer-logo-wrapper">
      <div class="footer-large-txt">Built for teams doing interesting things with Web3, AI, and frontier tech.</div>
      <div class="contact-row"><img src="/images/email.svg" loading="lazy" width="24" height="24" alt="" class="email">
        <a href="mailto:human@blockrocket.tech" class="contact-large">human@blockrocket.tech</a>
      </div>
    </div>
    <div class="link-flex">
      <div class="link-col">
        <div class="link-col-title">INFO</div>
        <a href="/story-so-far.html" class="footer-link">Our Story</a>
        <a href="/blog/index.html" class="footer-link">Blogs</a>
        <a href="/#case-studies" class="footer-link">Case Studies</a>
      </div>
      <div class="link-col">
        <div class="link-col-title">SOCIAL</div>
        <a href="https://www.linkedin.com/company/blockrockettech/" class="footer-link">LinkedIn</a>
        <a href="https://twitter.com/blockrockettech" class="footer-link">X.com</a>
      </div>
    </div>
  </div>
  <div class="footer-div"></div>
  <div class="bottom-flex">
    <div class="legal-txt">© 2026 BlockRocket. Registered in England &amp; Wales. Company No: 11229039.</div>
    <div class="legal-link-wrapper">
      <a href="#" class="legal-link">Privacy Policy</a>
      <a href="#" class="legal-link">Terms of Service</a>
      <a href="#" class="legal-link">Cookie Policy</a>
    </div>
  </div>
</div>
