:root {
  --base--black: #051414;
  --base--white: white;
  --base--green: #05da77;
  --base--green--30: #05da774d;
  --base--green--black--70: #051414b3;
  --base--green--black--white--30: #ffffff4d;
  --base--green--50: #05da7780;
  --base--green--40: #05da7766;
  --base--green--black--white--90: #ffffffe6;
  --base--green--black--white--5: #ffffff0d;
}

.w-layout-vflex {
  flex-direction: column;
  align-items: flex-start;
  display: flex;
}

.w-layout-hflex {
  flex-direction: row;
  align-items: flex-start;
  display: flex;
}

.body {
  background-color: var(--base--black);
}

.nav {
  z-index: 1000;
  border-style: undefined;
  border-width: 0 0 1px;
  border-color: undefined;
  background-color: var(--base--black);
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: none;
  padding: 20px 80px;
  text-decoration: none;
  display: flex;
  position: fixed;
}

.nav-logo-wrapper {
  object-fit: cover;
  overflow: hidden;
}

.link-wrapper {
  z-index: -1;
  grid-column-gap: 32px;
  flex: 1;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  text-decoration: none;
  display: flex;
  position: absolute;
  inset: 0%;
}

.nav-link {
  color: var(--base--white);
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
  font-family: Zalando Sans, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 140%;
  text-decoration: none;
}

.nav-link:hover {
  color: var(--base--green);
}

.gradient-line {
  background-image: linear-gradient(270deg, #05da7700, var(--base--green) 50%, #05da7700);
  width: 70%;
  max-width: 70%;
  height: 1px;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  inset: auto 0% 0%;
}

.primary-button {
  background-color: var(--base--green);
  color: var(--base--black);
  border-radius: 4px;
  padding: 20px;
  font-family: Zalando Sans, sans-serif;
  font-size: 16px;
  font-weight: 600;
}

.primary-button:hover {
  background-color: var(--base--green--30);
  color: var(--base--green);
}

.primary-button.wide {
  width: 100%;
}

.container {
  grid-row-gap: 40px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  text-decoration: none;
  display: flex;
}

.container.approach, .container.services {
  grid-row-gap: 48px;
  justify-content: flex-start;
  align-items: flex-start;
}

.container.contact {
  grid-column-gap: 80px;
  grid-row-gap: 80px;
  flex-flow: row;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  justify-content: flex-start;
  align-items: flex-start;
  display: grid;
}

.container.blog-header {
  justify-content: flex-start;
  align-items: flex-start;
}

.container.blog-parent {
  grid-row-gap: 32px;
  justify-content: center;
  align-items: center;
}

.container.blog-child-header {
  grid-row-gap: 18px;
  justify-content: flex-start;
  align-items: flex-start;
}

.main-content {
  grid-column-gap: 32px;
  grid-row-gap: 32px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  max-width: 776px;
  text-decoration: none;
  display: flex;
}

.eyebrow {
  width: 100%;
  color: var(--base--green);
  text-align: center;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 0;
  font-family: Zalando Sans, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 140%;
  text-decoration: none;
}

.heading-1 {
  width: 90%;
  color: var(--base--white);
  text-align: center;
  text-transform: capitalize;
  margin-top: 0;
  margin-bottom: 0;
  font-family: Zalando Sans, sans-serif;
  font-size: 56px;
  font-weight: 600;
  line-height: 120%;
  text-decoration: none;
}

.lead-text {
  grid-column-gap: 18px;
  grid-row-gap: 18px;
}

.lead-text.centre {
  text-align: center;
}

.logo-wrapper {
  grid-row-gap: 20px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  text-decoration: none;
  display: flex;
}

.small-eyebrow {
  color: #ffffffe6;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
  margin-top: 0;
  margin-bottom: 0;
  font-family: Zalando Sans, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 140%;
  text-decoration: none;
}

.client-logos {
  grid-column-gap: 80px;
  flex-flow: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  text-decoration: none;
  display: flex;
}

.logo {
  object-fit: contain;
  overflow: clip;
}

.logo-2 {
  object-fit: contain;
  overflow: hidden;
}

.text-regular {
  color: #fffc;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
  font-family: Zalando Sans, sans-serif;
  font-size: 20px;
  font-weight: 300;
  line-height: 140%;
  text-decoration: none;
}

.text-bold {
  color: #fff;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
  font-family: Zalando Sans, sans-serif;
  font-size: 20px;
  font-weight: 600;
  line-height: 140%;
  text-decoration: none;
}

.section_hero {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: none;
  height: auto;
  padding: 140px 120px 80px;
  text-decoration: none;
  display: flex;
  position: relative;
}

.top-content-wrapper {
  grid-column-gap: 12px;
  grid-row-gap: 12px;
  justify-content: center;
  align-items: center;
}

.left-block {
  z-index: 10;
  width: 18%;
  position: absolute;
  inset: 15% auto auto 0%;
}

.right-block {
  z-index: 10;
  width: 18%;
  position: absolute;
  inset: auto 0% 0% auto;
}

.flex-grid {
  grid-column-gap: 140px;
  grid-row-gap: 16px;
  flex: 0 auto;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  text-decoration: none;
  display: grid;
}

.left-col-wrapper {
  grid-row-gap: 12px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  max-width: 438px;
  text-decoration: none;
  display: flex;
}

.module-eyebrow {
  grid-column-gap: 8px;
  flex: 0 auto;
  justify-content: flex-start;
  align-items: center;
  text-decoration: none;
  display: flex;
}

.icon {
  object-fit: contain;
  width: auto;
  height: 12px;
}

.green-eyebrow {
  color: var(--base--green);
  text-align: center;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 0;
  font-family: Zalando Sans, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 140%;
  text-decoration: none;
  transform: translate(0, 1px);
}

.h2-style {
  width: 100%;
  color: var(--base--white);
  margin-top: 0;
  margin-bottom: 0;
  font-family: Zalando Sans, sans-serif;
  font-size: 28px;
  font-weight: 500;
  line-height: 120%;
  text-decoration: none;
}

.h2-style.black {
  color: var(--base--black);
}

.image {
  aspect-ratio: 3 / 2;
  object-fit: cover;
  width: 100%;
  max-width: 100%;
}

.body-regular {
  color: #fffc;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
  font-family: Zalando Sans, sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 140%;
  text-decoration: none;
}

.body-regular.left {
  text-align: left;
}

.body-regular.left.small {
  font-size: 14px;
  font-weight: 300;
}

.body-regular.left.black, .body-regular.black {
  color: var(--base--green--black--70);
}

.body-bold {
  color: #fff;
  width: 100%;
  margin-top: 0;
  margin-bottom: 0;
  font-family: Zalando Sans, sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 140%;
  text-decoration: none;
}

.section_about {
  grid-column-gap: 120px;
  grid-row-gap: 120px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: none;
  height: auto;
  margin-top: -40px;
  padding: 120px 200px 80px;
  text-decoration: none;
  display: flex;
  position: relative;
}

.left-half-block {
  max-width: 10%;
  position: absolute;
  inset: 0% auto auto 0%;
}

.left-half-block.blog {
  z-index: 5;
  max-width: 7%;
  inset: 120px auto 0% 0%;
}

.left-half-block.footer-small {
  max-width: 7%;
  inset: 0% auto auto 0%;
}

.right-half-block {
  max-width: 10%;
  position: absolute;
  inset: auto 0% 0% auto;
}

.right-half-block.blog {
  z-index: 5;
  max-width: 7%;
  inset: 70% 0% auto auto;
}

.right-half-block.contact {
  max-width: 10%;
  max-height: 100%;
  inset: auto 0% 0% auto;
}

.section_approach {
  grid-column-gap: 120px;
  grid-row-gap: 120px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: none;
  height: auto;
  padding: 80px 200px 120px;
  text-decoration: none;
  display: flex;
  position: relative;
}

.header-wrapper {
  grid-row-gap: 12px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  max-width: 60%;
  text-decoration: none;
  display: flex;
}

.header-wrapper.contact, .header-wrapper.blog {
  max-width: none;
}

._3-col-wrapper {
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  justify-content: flex-start;
  place-items: center stretch;
  width: 100%;
  max-width: 1129.5px;
  text-decoration: none;
  display: flex;
}

.col-card {
  grid-row-gap: 24px;
  border: 1px undefined undefined;
  background-image: linear-gradient(0deg, var(--base--black), #05271e);
  border-radius: 1px;
  flex-direction: column;
  flex: 1;
  justify-content: flex-start;
  align-self: stretch;
  align-items: flex-start;
  width: 100%;
  max-width: none;
  height: auto;
  padding: 24px;
  text-decoration: none;
  display: flex;
}

.card-img {
  object-fit: contain;
  max-height: 72px;
}

.card-content-wrapper {
  grid-row-gap: 8px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  text-decoration: none;
  display: flex;
}

.card-header {
  color: var(--base--white);
  margin-top: 0;
  margin-bottom: 0;
  font-family: Zalando Sans, sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 100%;
  text-decoration: none;
}

.connector {
  object-fit: cover;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 44px;
  text-decoration: none;
  display: flex;
}

.card-wrapper {
  background-image: linear-gradient(180deg, var(--base--black), var(--base--green));
  border-radius: 2px;
  flex: 1;
  max-width: none;
  padding: 1px;
}

.card-wrapper.one, .card-wrapper.two {
  border-radius: 2px;
}

.section_services {
  grid-column-gap: 120px;
  grid-row-gap: 120px;
  background-color: var(--base--white);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: none;
  height: auto;
  padding: 120px 200px;
  text-decoration: none;
  display: flex;
  position: relative;
}

.black-eyebrow {
  color: var(--base--black);
  text-align: center;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 0;
  font-family: Zalando Sans, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 140%;
  text-decoration: none;
  transform: translate(0, 1px);
}

.black-eyebrow.blog-panel {
  color: var(--base--green--black--70);
}

.card-grid {
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  justify-content: flex-start;
  place-items: center stretch;
  width: 100%;
  max-width: 1129.5px;
  text-decoration: none;
  display: grid;
}

.card-grid.blog {
  grid-row-gap: 80px;
  grid-template-rows: auto auto auto auto;
  grid-template-columns: 1fr 1fr 1fr;
  max-width: 1200px;
}

.card {
  grid-row-gap: 20px;
  background-image: linear-gradient(#05da771a, #05da7700 79%);
  border: 1px solid #05da771a;
  border-radius: 2px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  max-width: 553px;
  height: 100%;
  padding: 32px;
  text-decoration: none;
  display: flex;
}

.img-and-header {
  grid-column-gap: 24px;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  text-decoration: none;
  display: flex;
}

.image-5 {
  object-fit: contain;
  width: 64px;
  height: 64px;
}

.card-header-wrapper {
  grid-column-gap: 4px;
  grid-row-gap: 4px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  text-decoration: none;
  display: flex;
}

.service-card-title {
  width: 100%;
  color: var(--base--black);
  margin-top: 0;
  margin-bottom: 0;
  font-family: Zalando Sans, sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 130%;
  text-decoration: none;
}

.subtitle {
  color: #fff;
  width: 100%;
  margin-top: 0;
  margin-bottom: 0;
  font-family: Zalando Sans, sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 140%;
  text-decoration: none;
}

.subtitle.black {
  color: var(--base--black);
  font-weight: 500;
}

.list {
  grid-column-gap: 12px;
  grid-row-gap: 12px;
  flex-flow: column;
  width: 100%;
  margin-bottom: 0;
  padding-left: 0;
  display: flex;
}

.list-item {
  color: var(--base--green--black--70);
  background-image: url('../images/black-icon.svg');
  background-position: 0 7px;
  background-repeat: no-repeat;
  background-size: 8px 8px;
  padding-left: 20px;
  font-family: Zalando Sans, sans-serif;
  font-size: 16px;
  list-style-type: none;
}

.list-text {
  width: 100%;
  color: var(--base--green--black--70);
  margin-top: 0;
  margin-bottom: 0;
  font-family: Zalando Sans, sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 140%;
  text-decoration: none;
}

.card-list-wrapper {
  grid-column-gap: 12px;
  grid-row-gap: 12px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  text-decoration: none;
  display: flex;
}

.section_case-studies {
  grid-column-gap: 120px;
  grid-row-gap: 120px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: none;
  height: auto;
  padding: 120px 200px;
  text-decoration: none;
  display: flex;
  position: relative;
}

.case-studies-grid {
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  justify-content: flex-start;
  place-items: center stretch;
  width: 100%;
  max-width: 1129.5px;
  text-decoration: none;
  display: grid;
}

.case-study-card {
  aspect-ratio: 16 / 9;
  background-image: linear-gradient(180deg, var(--base--black), var(--base--green));
  border-radius: 2px;
  flex: 1;
  max-width: none;
  padding: 1px;
  position: relative;
}

.case-study-card.one {
  border-radius: 2px;
}

.cs-wrapper {
  grid-row-gap: 24px;
  border: 1px undefined undefined;
  background-image: linear-gradient(0deg, #05da7700, var(--base--green--30)), url('../images/ko_1ko.avif');
  background-position: 0 0, 50%;
  background-repeat: repeat, no-repeat;
  background-size: auto, cover;
  border-radius: 1px;
  flex-direction: column;
  flex: 1;
  justify-content: flex-start;
  align-self: stretch;
  align-items: flex-start;
  width: 100%;
  max-width: none;
  height: auto;
  padding: 24px;
  text-decoration: none;
  display: flex;
  position: static;
  inset: 0%;
}

.cs-wrapper.two {
  background-image: linear-gradient(0deg, #05da7700, var(--base--green--30)), url('../images/meta-factory_1meta-factory.avif');
}

.cs-wrapper.three {
  background-image: linear-gradient(0deg, #05da7700, var(--base--green--30)), url('../images/cudo_1cudo.avif');
}

.cs-wrapper.four {
  background-image: linear-gradient(0deg, #05da7700, var(--base--green--30)), url('../images/ck_1ck.avif');
}

.cs-wrapper.five {
  background-image: linear-gradient(0deg, #05da7700, var(--base--green--30)), url('../images/brewdog_1brewdog.avif');
}

.cs-wrapper.six {
  background-image: linear-gradient(0deg, #05da7700, var(--base--green--30)), url('../images/token-landia_1token-landia.avif');
}

.tag {
  grid-column-gap: 10px;
  background-color: var(--base--green--black--70);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  border-radius: 4px;
  flex: 0 auto;
  justify-content: center;
  align-items: center;
  padding: 8px;
  text-decoration: none;
  display: flex;
  position: static;
  inset: 0% 0% auto auto;
}

.text {
  color: #fff;
  text-align: right;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 0;
  font-family: Zalando Sans, sans-serif;
  font-size: 12px;
  font-weight: 500;
  line-height: 140%;
  text-decoration: none;
}

.tag-wrapper {
  grid-column-gap: 8px;
  grid-row-gap: 8px;
  margin-top: 12px;
  margin-right: 12px;
  padding-left: 0;
  position: absolute;
  inset: 0% 0% auto auto;
}

.section_text {
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  background-image: linear-gradient(180deg, var(--base--black) 50%, white 50%);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: none;
  height: auto;
  padding: 0;
  text-decoration: none;
  display: flex;
  position: relative;
}

.large-text {
  color: #05da77;
  text-transform: uppercase;
  white-space: nowrap;
  word-break: keep-all;
  margin-top: 0;
  margin-bottom: 0;
  font-family: Zalando Sans, sans-serif;
  font-size: 48px;
  font-weight: 500;
  line-height: 100%;
  text-decoration: none;
}

.icon-2 {
  object-fit: contain;
}

.row-item-text {
  grid-column-gap: 32px;
  flex: none;
  justify-content: flex-start;
  align-items: center;
  text-decoration: none;
  display: flex;
}

.services-swiper {
  width: 100%;
  display: flex;
  overflow: hidden;
}

.swiper-wrapper {
  flex: none;
  display: block;
}

.swiper-wrapper.is-left {
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  align-items: center;
  display: flex;
}

.swiper-wrapper.is-right {
  grid-column-gap: 32px;
  grid-row-gap: 32px;
  align-items: center;
  display: flex;
}

.swiper-slide {
  flex: none;
}

.swiper-slide.trusted-by-item {
  background-color: #0000;
  border-radius: 0;
  flex: none;
  justify-content: center;
  align-items: center;
  width: auto;
  height: auto;
  display: flex;
  overflow: hidden;
}

.services-swiper-reverse {
  width: 100%;
  display: flex;
  overflow: hidden;
}

.section_team {
  grid-column-gap: 80px;
  grid-row-gap: 80px;
  background-color: var(--base--white);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: none;
  height: auto;
  padding: 120px 200px;
  text-decoration: none;
  display: flex;
  position: relative;
}

.team-flex {
  grid-column-gap: 32px;
  grid-row-gap: 32px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  justify-content: flex-start;
  place-items: center stretch;
  width: 100%;
  max-width: none;
  text-decoration: none;
  display: flex;
}

.team-col {
  grid-column-gap: 24px;
  flex: 0 auto;
  justify-content: flex-start;
  align-items: flex-start;
  text-decoration: none;
  display: flex;
}

.team-image {
  aspect-ratio: 2 / 3;
  object-fit: cover;
  border-radius: 2px;
  flex: 1;
  max-width: 40%;
  min-height: auto;
}

.details-wrapper {
  grid-row-gap: 20px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  max-width: 310px;
  margin-top: 8px;
  text-decoration: none;
  display: flex;
}

.details-style {
  grid-row-gap: 12px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  text-decoration: none;
  display: flex;
}

.name {
  color: #051414;
  margin-top: 0;
  margin-bottom: 0;
  font-family: Zalando Sans, sans-serif;
  font-size: 24px;
  font-weight: 500;
  line-height: 100%;
  text-decoration: none;
}

.job-role {
  color: #051414;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 0;
  font-family: Zalando Sans, sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 140%;
  text-decoration: none;
}

.linkedin-icon {
  object-fit: cover;
}

.linkedin-btn:hover {
  opacity: .6;
}

.community-wrapper {
  grid-column-gap: 40px;
  grid-row-gap: 24px;
  object-fit: contain;
  flex: 0 auto;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  display: flex;
}

.logo-3 {
  object-fit: contain;
  overflow: hidden;
}

.com-logo-2 {
  object-fit: contain;
  max-width: none;
  overflow: visible;
}

.com-logo-1 {
  object-fit: contain;
  width: 200px;
  max-width: none;
  overflow: hidden;
}

.section_blog {
  grid-column-gap: 120px;
  grid-row-gap: 120px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: none;
  height: auto;
  padding: 120px 200px;
  text-decoration: none;
  display: flex;
  position: relative;
}

.header-and-button {
  justify-content: space-between;
  align-items: center;
  width: 100%;
  display: flex;
}

.secondary-button {
  background-color: var(--base--white);
  color: var(--base--black);
  border-radius: 4px;
  padding: 20px;
  font-family: Zalando Sans, sans-serif;
  font-size: 16px;
  font-weight: 600;
}

.secondary-button:hover {
  background-color: var(--base--green--black--white--30);
  color: var(--base--white);
}

.secondary-button.blogs-wide {
  display: none;
}

.blog-card {
  grid-row-gap: 24px;
  flex-direction: column;
  flex: 1;
  justify-content: flex-start;
  align-items: flex-start;
  text-decoration: none;
  display: flex;
}

.blog-img {
  aspect-ratio: 3 / 2;
  object-fit: cover;
  background-color: #fff;
  border-radius: 2px;
  width: 100%;
  margin-bottom: 0;
  overflow: hidden;
}

.blog-content {
  grid-row-gap: 12px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 95%;
  text-decoration: none;
  display: flex;
}

.blog-title {
  color: #fff;
  margin-top: 0;
  margin-bottom: 0;
  font-family: Zalando Sans, sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 120%;
  text-decoration: none;
}

.blog-title.dark {
  color: var(--base--black);
}

.blog-tag-row {
  grid-column-gap: 12px;
  flex: 0 auto;
  justify-content: flex-start;
  align-items: flex-start;
  text-decoration: none;
  display: flex;
}

.blog-tag {
  grid-column-gap: 10px;
  background-color: #ffffff1a;
  border: 1px solid #fff3;
  border-radius: 4px;
  flex: 0 auto;
  justify-content: center;
  align-items: center;
  padding: 8px;
  text-decoration: none;
  display: flex;
}

.blog-tag.dark {
  background-color: #0514141a;
  border-color: #05141433;
}

.blog-tag.white {
  border-color: var(--base--green--black--white--30);
  background-color: #0000;
}

.tag-txt {
  color: #fff;
  text-transform: capitalize;
  margin-top: 0;
  margin-bottom: 0;
  font-family: Zalando Sans, sans-serif;
  font-size: 12px;
  font-weight: 500;
  line-height: 140%;
  text-decoration: none;
}

.tag-txt.black {
  color: var(--base--black);
}

.blog-grid {
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  width: 100%;
  max-width: 100%;
}

.section_contact {
  grid-column-gap: 120px;
  grid-row-gap: 120px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: none;
  height: auto;
  padding: 120px 200px 40px;
  text-decoration: none;
  display: flex;
  position: relative;
}

.form-wrapper {
  grid-row-gap: 32px;
  background-color: #051414b3;
  border: 1px solid #ffffff1a;
  border-radius: 4px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  max-width: 502px;
  padding: 40px;
  text-decoration: none;
  display: flex;
  box-shadow: 0 0 32px #00000080;
}

.input-label {
  color: #fff;
  margin-top: 0;
  margin-bottom: 12px;
  font-family: Zalando Sans, sans-serif;
  font-size: 12px;
  font-weight: 500;
  line-height: 100%;
  text-decoration: none;
}

.field-row-wrapper {
  grid-column-gap: 8px;
  border: 1px solid var(--base--green--black--white--30);
  width: 100%;
  color: var(--base--white);
  background-color: #051414;
  border-radius: 4px;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 20px;
  padding: 12px;
  font-family: Zalando Sans, sans-serif;
  text-decoration: none;
  display: flex;
}

.contact-col {
  grid-column-gap: 32px;
  grid-row-gap: 32px;
}

.contact-flex {
  grid-row-gap: 18px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  max-width: 229px;
  text-decoration: none;
  display: flex;
}

.contact-row {
  grid-column-gap: 12px;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  text-decoration: none;
  display: flex;
}

.email {
  object-fit: cover;
  overflow: hidden;
}

.contact-large {
  color: var(--base--white);
  margin-top: 0;
  margin-bottom: 0;
  font-family: Zalando Sans, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 140%;
  text-decoration: none;
}

.contact-large:hover {
  color: var(--base--green);
}

.contact-row-2 {
  grid-column-gap: 12px;
  flex: 0 auto;
  justify-content: flex-start;
  align-items: center;
  text-decoration: none;
  display: flex;
}

.footer {
  grid-column-gap: 40px;
  grid-row-gap: 40px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: none;
  height: auto;
  padding: 80px 120px 32px;
  text-decoration: none;
  display: flex;
  position: relative;
  overflow: visible;
}

.footer-blur {
  z-index: -2;
  background-color: var(--base--green--50);
  filter: blur(170px);
  border-radius: 20px;
  height: 200px;
  position: absolute;
  inset: auto 0% 0%;
}

.hero-blur {
  z-index: -2;
  background-color: var(--base--green--50);
  filter: blur(170px);
  border-radius: 20px;
  height: 150px;
  position: absolute;
  inset: auto 0% 0%;
}

.top-flex {
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  text-decoration: none;
  display: flex;
}

.left-top-container {
  grid-row-gap: 20px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  max-width: 520px;
  text-decoration: none;
  display: flex;
}

.footer-logo-wrapper {
  object-fit: cover;
  margin-bottom: 20px;
  overflow: hidden;
}

.footer-large-txt {
  color: #fff;
  width: 100%;
  margin-top: 0;
  margin-bottom: 0;
  font-family: Zalando Sans, sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 120%;
  text-decoration: none;
}

.link-flex {
  grid-column-gap: 72px;
  justify-content: flex-end;
  align-items: flex-start;
  width: 100%;
  max-width: 549px;
  text-decoration: none;
  display: flex;
}

.link-col {
  grid-row-gap: 18px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  text-decoration: none;
  display: flex;
}

.link-col-title {
  color: #fffc;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 0;
  font-family: Zalando Sans, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 140%;
  text-decoration: none;
}

.footer-link {
  color: #fff;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
  font-family: Zalando Sans, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 140%;
  text-decoration: none;
}

.footer-link:hover {
  color: var(--base--green);
}

.bottom-flex {
  justify-content: space-between;
  align-items: center;
  width: 100%;
  text-decoration: none;
  display: flex;
}

.legal-txt {
  color: #fff9;
  margin-top: 0;
  margin-bottom: 0;
  font-family: Zalando Sans, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 140%;
  text-decoration: none;
}

.legal-link-wrapper {
  grid-column-gap: 12px;
  flex: 0 auto;
  justify-content: flex-start;
  align-items: flex-start;
  text-decoration: none;
  display: flex;
}

.legal-link {
  color: #fffc;
  text-align: center;
  text-underline-offset: 5px;
  margin-top: 0;
  margin-bottom: 0;
  font-family: Zalando Sans, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 140%;
  -webkit-text-decoration: underline #fff9;
  text-decoration: underline #fff9;
}

.legal-link:hover {
  color: var(--base--green--black--white--30);
}

.footer-div {
  background-image: linear-gradient(270deg, #05da7700, var(--base--green) 50%, #05da7700);
  width: 100%;
  max-width: 100%;
  height: 1px;
  margin-left: auto;
  margin-right: auto;
  position: static;
  inset: auto 0% 0%;
}

.form {
  width: 100%;
}

.form-block {
  width: 100%;
  margin-bottom: 0;
}

.success-message {
  color: var(--base--green);
  background-color: #0000;
  font-family: Zalando Sans, sans-serif;
}

.error-message {
  color: #f44;
  background-color: #d424241a;
  border: 1px solid #d42424;
  border-radius: 4px;
  margin-top: 20px;
  padding: 12px;
  font-family: Zalando Sans, sans-serif;
  line-height: 140%;
}

.client-logos-track {
  grid-column-gap: 48px;
  grid-row-gap: 48px;
  justify-content: center;
  align-items: center;
}

.com-wrapper-track {
  grid-column-gap: 40px;
  grid-row-gap: 40px;
  flex: 0 auto;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.section_header {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: none;
  height: auto;
  padding: 140px 200px 40px;
  text-decoration: none;
  display: flex;
  position: relative;
}

.section_blog-grid {
  grid-column-gap: 120px;
  grid-row-gap: 120px;
  background-color: var(--base--white);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: none;
  height: auto;
  padding: 48px 200px 120px;
  text-decoration: none;
  display: flex;
  position: relative;
}

.breadcrumb-wrapper {
  grid-column-gap: 8px;
  justify-content: flex-start;
  align-items: center;
  width: auto;
  margin-bottom: 12px;
  text-decoration: none;
  display: flex;
}

.icon_chevron {
  object-fit: cover;
  width: 16px;
  height: 16px;
  overflow: hidden;
}

.breadcrumb-link {
  color: var(--base--white);
  text-align: center;
  white-space: nowrap;
  text-underline-offset: 5px;
  margin-top: 0;
  margin-bottom: 0;
  font-family: Zalando Sans, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 140%;
  -webkit-text-decoration: underline #fff9;
  text-decoration: underline #fff9;
}

.breadcrumb-link:hover {
  color: var(--base--green);
  -webkit-text-decoration-color: var(--base--green);
  text-decoration-color: var(--base--green);
}

.breadcrumb-link.active-page {
  color: #ffffffb3;
  text-decoration: none;
}

.section_featured-blog {
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  background-image: linear-gradient(180deg, var(--base--black) 50%, white 50%);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: none;
  height: auto;
  padding: 0 200px;
  text-decoration: none;
  display: flex;
  position: relative;
}

.featured-blog-card {
  border: 1px solid #05141433;
  border-radius: 4px;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  text-decoration: none;
  display: flex;
  overflow: hidden;
  box-shadow: 0 0 32px #0000001a;
}

.img-style {
  aspect-ratio: auto;
  object-fit: cover;
  background-image: linear-gradient(#05da774d, #05da774d), url('../images/news-img-block-2_1news-img-block-2.avif');
  background-repeat: repeat, no-repeat;
  background-size: auto, cover;
  border-radius: 2px;
  flex: 1;
  align-self: stretch;
  width: 50%;
  min-width: 50%;
  max-width: 50%;
  height: auto;
  min-height: 100%;
  max-height: 100%;
}

.right-container {
  grid-row-gap: 20px;
  background-color: #fff;
  flex-direction: column;
  flex: 1;
  justify-content: center;
  align-self: stretch;
  align-items: flex-start;
  width: 100%;
  height: auto;
  padding: 48px;
  text-decoration: none;
  display: flex;
  overflow: hidden;
}

.content-wrapper {
  grid-row-gap: 12px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  text-decoration: none;
  display: flex;
}

.featured-blog-title {
  color: #051414;
  width: 100%;
  margin-top: 0;
  margin-bottom: 0;
  font-family: Zalando Sans, sans-serif;
  font-size: 40px;
  font-weight: 600;
  line-height: 120%;
  text-decoration: none;
}

.blog-details-row {
  grid-column-gap: 20px;
  flex: 0 auto;
  justify-content: flex-start;
  align-items: flex-start;
  text-decoration: none;
  display: flex;
}

.read-time {
  grid-column-gap: 8px;
  flex: 0 auto;
  justify-content: flex-start;
  align-items: center;
  text-decoration: none;
  display: flex;
}

.time {
  object-fit: cover;
  overflow: hidden;
}

.details-txt {
  color: var(--base--white);
  margin-top: 0;
  margin-bottom: 0;
  font-family: Zalando Sans, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 120%;
  text-decoration: none;
}

.details-txt.white {
  color: var(--base--white);
}

.details-txt.black {
  color: var(--base--black);
}

.tag-filter-row {
  grid-column-gap: 12px;
  grid-row-gap: 12px;
  flex-flow: wrap;
  flex: 0 auto;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  text-decoration: none;
  display: flex;
}

.blog-filter {
  grid-column-gap: 10px;
  background-color: #0514140d;
  border: 1px solid #05141433;
  border-radius: 4px;
  flex: 0 auto;
  justify-content: center;
  align-items: center;
  padding: 8px;
  text-decoration: none;
  display: flex;
}

.blog-filter:hover {
  border-color: var(--base--green--50);
  background-color: #05da7733;
}

.blog-filter.active {
  border-color: var(--base--green);
  background-color: var(--base--green);
}

.filter-txt {
  color: var(--base--black);
  text-transform: capitalize;
  margin-top: 0;
  margin-bottom: 0;
  font-family: Zalando Sans, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 140%;
  text-decoration: none;
}

.pagination {
  grid-column-gap: 6px;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  max-width: 352px;
  height: 36px;
  text-decoration: none;
  display: flex;
}

.pagination-control {
  grid-column-gap: 4px;
  opacity: .2;
  background-color: #fff;
  border: 1px solid #05141433;
  border-radius: 2px;
  flex: 0 auto;
  justify-content: center;
  align-items: center;
  height: 36px;
  padding: 8px 12px 8px 8px;
  text-decoration: none;
  display: flex;
}

.pagination-control.next {
  opacity: 100;
}

.pagination-control.next:hover {
  background-color: var(--base--green);
  border-color: #05141433;
}

.chevron {
  object-fit: cover;
  overflow: hidden;
}

.page-number {
  color: #051414;
  margin-top: 0;
  margin-bottom: 0;
  font-family: Zalando Sans, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-decoration: none;
}

.pagination-page {
  background-color: #051414;
  border-radius: 2px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 36px;
  height: 36px;
  padding: 8px 12px;
  text-decoration: none;
  display: flex;
}

.current-page-number {
  color: #fff;
  margin-top: 0;
  margin-bottom: 0;
  font-family: Zalando Sans, sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  text-decoration: none;
}

.pagination-page-inactive {
  background-color: #fff;
  border: 1px solid #05141433;
  border-radius: 2px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 36px;
  height: 36px;
  padding: 8px 12px;
  text-decoration: none;
  display: flex;
}

.pagination-page-inactive:hover {
  background-color: var(--base--green);
  color: var(--base--white);
}

.ft-blog-tag {
  grid-column-gap: 10px;
  border: 1px solid var(--base--green);
  background-color: #05da7766;
  border-radius: 4px;
  flex: 0 auto;
  justify-content: center;
  align-items: center;
  padding: 8px 12px;
  text-decoration: none;
  display: flex;
}

.ft-blog-tag:hover {
  border-color: var(--base--green);
  background-color: #05da7766;
}

.body-large {
  color: var(--base--green--black--70);
  text-align: left;
  margin-top: 0;
  margin-bottom: 0;
  font-family: Zalando Sans, sans-serif;
  font-size: 20px;
  font-weight: 300;
  line-height: 140%;
  text-decoration: none;
}

.date-published {
  grid-column-gap: 8px;
  flex: 0 auto;
  justify-content: flex-start;
  align-items: center;
  text-decoration: none;
  display: flex;
}

.blog-details-wrapper {
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.blog-title-wrapper {
  grid-row-gap: 12px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  max-width: 80%;
  text-decoration: none;
  display: flex;
}

.section_featured-image {
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  background-image: linear-gradient(180deg, var(--base--black) 50%, white 50%);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: none;
  height: auto;
  padding: 0 120px;
  text-decoration: none;
  display: flex;
  position: relative;
}

.featured-image {
  aspect-ratio: 16 / 9;
  object-fit: cover;
  background-image: linear-gradient(#05da774d, #05da774d), url('../images/news-img-block-2_1news-img-block-2.avif');
  background-repeat: repeat, no-repeat;
  background-size: auto, cover;
  border-radius: 2px;
  flex: 1;
  align-self: stretch;
  width: auto;
  min-width: 100%;
  max-width: none;
  height: auto;
  min-height: 100%;
  max-height: 100%;
}

.featured-img-wrapper {
  grid-row-gap: 12px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  text-decoration: none;
  display: flex;
}

.img-caption {
  width: 100%;
  color: var(--base--green--black--70);
  margin-top: 0;
  margin-bottom: 0;
  font-family: Zalando Sans, sans-serif;
  font-size: 14px;
  font-style: italic;
  font-weight: 400;
  line-height: 140%;
  text-decoration: none;
}

.section-blog-content {
  grid-column-gap: 112px;
  grid-row-gap: 112px;
  background-color: var(--base--white);
  flex-direction: column;
  grid-template-rows: auto;
  grid-template-columns: 1fr .25fr;
  grid-auto-columns: 1fr;
  place-content: start center;
  place-items: center stretch;
  width: 100%;
  max-width: none;
  height: auto;
  padding: 56px 200px 80px;
  text-decoration: none;
  display: flex;
  position: static;
  overflow: hidden;
}

.section-read-more {
  grid-column-gap: 120px;
  grid-row-gap: 120px;
  background-color: var(--base--white);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: none;
  height: auto;
  padding: 48px 200px 120px;
  text-decoration: none;
  display: flex;
  position: relative;
}

.read-more-grid {
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  justify-content: flex-start;
  place-items: center stretch;
  width: 100%;
  max-width: 1129.5px;
  text-decoration: none;
  display: grid;
}

.read-more-grid.blog {
  grid-row-gap: 80px;
  grid-template-rows: auto;
  max-width: 1200px;
}

.read-more-wrapper {
  grid-row-gap: 20px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  max-width: 1200px;
  text-decoration: none;
  display: flex;
}

.blog-rich-text {
  flex-flow: column;
  display: block;
}

.blog-rich-text-h1 {
  color: var(--base--black);
  margin-top: 0;
  font-family: Zalando Sans, sans-serif;
  font-size: 32px;
  font-weight: 600;
}

.blog-rich-text-h2 {
  color: var(--base--black);
  font-family: Zalando Sans, sans-serif;
  font-size: 28px;
  font-weight: 600;
}

.blog-rich-text-p {
  color: var(--base--green--black--70);
  text-align: left;
  margin-top: 0;
  margin-bottom: 0;
  font-family: Zalando Sans, sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 140%;
  text-decoration: none;
}

.blog-rich-text-h6 {
  color: var(--base--black);
  font-family: Zalando Sans, sans-serif;
  font-weight: 500;
}

.blog-rich-text-h3 {
  color: var(--base--black);
  font-family: Zalando Sans, sans-serif;
  font-weight: 600;
}

.blog-rich-text-h4 {
  color: var(--base--black);
  font-family: Zalando Sans, sans-serif;
  font-weight: 500;
}

.blog-rich-text-block-quote {
  border-left-color: var(--base--green);
  color: var(--base--black);
  font-family: Zalando Sans, sans-serif;
  font-weight: 500;
}

.blog-rich-text-h5 {
  color: var(--base--black);
  font-family: Zalando Sans, sans-serif;
  font-weight: 500;
}

.blog-rich-text-link {
  color: var(--base--black);
  text-underline-offset: 5px;
  font-size: 16px;
}

.blog-rich-text-link:hover {
  color: var(--base--green);
}

.ordered-list-item {
  color: var(--base--green--black--70);
  font-family: Zalando Sans, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 140%;
}

.blog-rich-text-list-ordered {
  grid-column-gap: 8px;
  grid-row-gap: 8px;
  flex-flow: column;
  padding-left: 32px;
  display: flex;
}

.blog-rich-text-b {
  font-family: Zalando Sans, sans-serif;
  font-size: 16px;
}

.blog-rich-text-e {
  color: var(--base--black);
  font-family: Zalando Sans, sans-serif;
  font-size: 16px;
}

.paragraph {
  color: var(--base--black);
}

.superscript, .subscript {
  color: var(--base--green--black--70);
  font-family: Zalando Sans, sans-serif;
}

.side-panel {
  grid-row-gap: 32px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  max-width: none;
  height: auto;
  text-decoration: none;
  display: flex;
  position: sticky;
  top: 0;
}

.social-share {
  grid-row-gap: 18px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  text-decoration: none;
  display: flex;
}

.social-icons-wrapper {
  grid-column-gap: 18px;
  flex-wrap: wrap;
  flex: 0 auto;
  justify-content: flex-start;
  align-items: flex-start;
  text-decoration: none;
  display: flex;
}

.social-icon {
  object-fit: cover;
  overflow: hidden;
}

.jump-to {
  grid-row-gap: 18px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  text-decoration: none;
  display: flex;
}

.blog-link {
  width: 100%;
  color: var(--base--black);
  margin-top: 0;
  margin-bottom: 0;
  font-family: Zalando Sans, sans-serif;
  font-size: 18px;
  font-weight: 600;
  line-height: 120%;
  text-decoration: none;
}

.blog-link:hover {
  color: var(--base--green);
}

.content-right {
  position: sticky;
}

.blog-content-grid {
  grid-column-gap: 80px;
  grid-row-gap: 80px;
  grid-template-rows: auto;
  grid-template-columns: 1fr .5fr;
  grid-auto-columns: 1fr;
  max-width: 1200px;
  display: grid;
}

.share-icon-wrapper:hover {
  opacity: .5;
}

@media screen and (max-width: 991px) {
  .nav {
    padding-left: 40px;
    padding-right: 40px;
  }

  .link-wrapper {
    display: none;
  }

  .container {
    grid-row-gap: 48px;
  }

  .container.contact {
    grid-column-gap: 48px;
    grid-row-gap: 48px;
    grid-template-columns: 1fr;
  }

  .heading-1 {
    font-size: 56px;
  }

  .client-logos {
    grid-column-gap: 80px;
    grid-row-gap: 40px;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-columns: 1fr;
    align-content: center;
    place-items: center stretch;
    display: flex;
  }

  .logo {
    max-width: 150px;
  }

  .section_hero {
    max-width: 100%;
    height: auto;
    padding-top: 140px;
    padding-left: 80px;
    padding-right: 80px;
  }

  .flex-grid {
    grid-row-gap: 40px;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr;
  }

  .left-col-wrapper {
    max-width: none;
  }

  .body-regular.left.small {
    font-size: 16px;
  }

  .section_about {
    grid-column-gap: 80px;
    grid-row-gap: 80px;
    padding-left: 80px;
    padding-right: 80px;
  }

  .section_approach {
    padding: 40px 80px 80px;
  }

  .header-wrapper {
    max-width: none;
  }

  ._3-col-wrapper {
    grid-column-gap: 32px;
    grid-row-gap: 32px;
    flex-flow: column;
  }

  .connector {
    display: none;
  }

  .section_services {
    padding: 80px;
  }

  .card-grid {
    grid-column-gap: 32px;
    grid-row-gap: 32px;
    flex-flow: column;
    grid-template-rows: auto auto auto auto;
    grid-template-columns: 1fr;
  }

  .card-grid.blog {
    grid-template-columns: 1fr 1fr;
  }

  .card {
    border-width: 2px;
    max-width: none;
  }

  .section_case-studies {
    padding: 80px;
  }

  .case-studies-grid {
    grid-column-gap: 24px;
    grid-row-gap: 24px;
    flex-flow: column;
    grid-template-columns: 1fr 1fr;
  }

  .section_text {
    padding-left: 0;
    padding-right: 0;
  }

  .section_team {
    grid-column-gap: 48px;
    grid-row-gap: 48px;
    padding: 80px;
  }

  .team-flex {
    grid-column-gap: 48px;
    grid-row-gap: 48px;
    flex-flow: column;
  }

  .team-image {
    max-width: 30%;
  }

  .details-wrapper {
    max-width: none;
  }

  .community-wrapper {
    grid-column-gap: 32px;
    grid-row-gap: 32px;
    flex-flow: wrap;
  }

  .section_blog {
    padding: 80px;
  }

  .header-and-button {
    flex-flow: column;
  }

  .secondary-button.blogs {
    display: none;
  }

  .secondary-button.blogs-wide {
    width: auto;
    display: flex;
  }

  .blog-img {
    aspect-ratio: 16 / 9;
  }

  .blog-grid {
    grid-column-gap: 80px;
    grid-row-gap: 80px;
    flex-flow: column;
  }

  .section_contact {
    padding-top: 40px;
    padding-left: 80px;
    padding-right: 80px;
  }

  .form-wrapper {
    max-width: none;
  }

  .contact-row {
    justify-content: center;
    align-items: center;
  }

  .footer {
    padding-top: 40px;
    padding-left: 80px;
    padding-right: 80px;
  }

  .top-flex {
    grid-column-gap: 40px;
    grid-row-gap: 40px;
    flex-flow: column;
    justify-content: space-between;
    align-items: center;
  }

  .left-top-container {
    justify-content: flex-start;
    align-items: center;
    max-width: none;
  }

  .footer-logo-wrapper {
    object-fit: contain;
    width: auto;
    max-width: 200%;
    height: 70px;
  }

  .footer-large-txt {
    text-align: center;
  }

  .link-flex {
    grid-column-gap: 88px;
    grid-row-gap: 40px;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    max-width: none;
  }

  .link-col {
    justify-content: flex-start;
    align-items: center;
  }

  .bottom-flex {
    grid-column-gap: 18px;
    grid-row-gap: 18px;
    flex-flow: wrap;
    justify-content: center;
    align-items: center;
  }

  .legal-txt, .legal-link {
    white-space: nowrap;
  }

  .section_header {
    max-width: 100%;
    height: auto;
    padding-top: 140px;
    padding-left: 80px;
    padding-right: 80px;
  }

  .section_blog-grid {
    padding: 48px 80px 80px;
  }

  .breadcrumb-link {
    white-space: nowrap;
  }

  .section_featured-blog {
    padding-left: 80px;
    padding-right: 80px;
  }

  .featured-blog-card {
    flex-flow: column;
  }

  .img-style {
    aspect-ratio: 16 / 9;
    object-fit: cover;
    background-repeat: repeat, no-repeat;
    flex: 1;
    order: -9999;
    align-self: stretch;
    width: 100%;
    min-width: 100%;
    max-width: none;
    min-height: auto;
  }

  .right-container {
    height: auto;
    padding: 32px;
  }

  .featured-blog-title {
    font-size: 32px;
  }

  .body-large {
    font-size: 18px;
  }

  .blog-title-wrapper {
    max-width: none;
  }

  .section_featured-image {
    padding-left: 80px;
    padding-right: 80px;
  }

  .featured-image {
    aspect-ratio: 16 / 9;
    object-fit: cover;
    background-repeat: repeat, no-repeat;
    flex: 1;
    order: -9999;
    align-self: stretch;
    width: 100%;
    min-width: 100%;
    max-width: none;
    min-height: auto;
  }

  .featured-img-wrapper {
    grid-row-gap: 48px;
  }

  .section-blog-content {
    padding: 80px;
  }

  .section-read-more {
    padding: 48px 80px 80px;
  }

  .read-more-grid {
    grid-column-gap: 32px;
    grid-row-gap: 32px;
    flex-flow: column;
    grid-template-rows: auto auto auto auto;
    grid-template-columns: 1fr;
  }

  .read-more-grid.blog {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .read-more-wrapper {
    grid-row-gap: 48px;
  }
}

@media screen and (max-width: 767px) {
  .container.approach, .container.services, .container.blog-parent {
    grid-row-gap: 32px;
  }

  .main-content {
    grid-column-gap: 32px;
    grid-row-gap: 32px;
    width: 80%;
    max-width: none;
  }

  .eyebrow {
    font-size: 14px;
  }

  .heading-1 {
    font-size: 40px;
  }

  .small-eyebrow {
    font-size: 14px;
  }

  .client-logos {
    width: 80%;
  }

  .text-regular, .text-bold {
    font-size: 16px;
  }

  .section_hero {
    padding-bottom: 48px;
    padding-left: 24px;
    padding-right: 24px;
  }

  .section_about {
    margin-top: 0;
    padding-top: 80px;
    padding-left: 40px;
    padding-right: 40px;
  }

  .section_approach {
    padding-left: 40px;
    padding-right: 40px;
  }

  .col-card {
    grid-row-gap: 32px;
  }

  .card-content-wrapper {
    grid-row-gap: 12px;
  }

  .section_services {
    padding-left: 40px;
    padding-right: 40px;
  }

  .card-grid.blog {
    grid-row-gap: 56px;
  }

  .section_case-studies {
    padding-left: 40px;
    padding-right: 40px;
  }

  .case-studies-grid {
    grid-template-columns: 1fr;
  }

  .section_text {
    padding-left: 0;
    padding-right: 0;
  }

  .swiper-slide.trusted-by-item {
    width: auto;
    height: 35px;
  }

  .section_team {
    padding: 40px 40px 80px;
  }

  .section_blog {
    padding-left: 40px;
    padding-right: 40px;
  }

  .blog-img {
    border-radius: 4px;
  }

  .section_contact {
    padding-top: 40px;
    padding-left: 40px;
    padding-right: 40px;
  }

  .footer {
    padding-left: 40px;
    padding-right: 40px;
  }

  .section_header {
    padding-bottom: 48px;
    padding-left: 40px;
    padding-right: 40px;
  }

  .section_blog-grid {
    grid-column-gap: 80px;
    grid-row-gap: 80px;
    padding: 40px 40px 80px;
  }

  .section_featured-blog {
    padding-left: 24px;
    padding-right: 24px;
  }

  .section_featured-image {
    padding-left: 40px;
    padding-right: 40px;
  }

  .section-blog-content {
    grid-column-gap: 80px;
    grid-row-gap: 80px;
    flex-flow: wrap;
    padding: 40px 40px 80px;
  }

  .section-read-more {
    grid-column-gap: 80px;
    grid-row-gap: 80px;
    padding: 40px 40px 80px;
  }

  .read-more-grid.blog {
    grid-row-gap: 56px;
    grid-template-columns: 1fr;
  }

  .read-more-wrapper {
    grid-row-gap: 20px;
  }

  .jump-to {
    display: none;
  }

  .blog-content-grid {
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 479px) {
  .nav {
    padding: 12px 24px;
  }

  .nav-logo-wrapper {
    object-fit: contain;
    width: 70px;
  }

  .primary-button {
    padding-top: 12px;
    padding-bottom: 12px;
  }

  .container.services {
    max-width: none;
  }

  .container.contact {
    grid-column-gap: 40px;
    grid-row-gap: 40px;
  }

  .container.blog-parent {
    grid-row-gap: 20px;
    max-width: none;
  }

  .main-content {
    width: auto;
  }

  .heading-1 {
    font-size: 32px;
  }

  .client-logos {
    grid-row-gap: 32px;
    overflow: visible;
  }

  .logo {
    height: 40px;
  }

  .logo-2 {
    height: 80px;
  }

  .section_hero {
    padding: 140px 24px 48px;
  }

  .left-block {
    width: 25%;
    top: 15%;
  }

  .right-block {
    width: 25%;
  }

  .icon {
    display: none;
  }

  .green-eyebrow {
    text-align: left;
  }

  .h2-style {
    font-size: 20px;
  }

  .section_about {
    max-width: 100%;
    padding: 48px 24px;
  }

  .left-half-block, .left-half-block.blog, .right-half-block.blog {
    max-width: 15%;
  }

  .section_approach, .section_services {
    max-width: 100%;
    padding: 48px 24px;
  }

  .black-eyebrow {
    text-align: left;
  }

  .card-grid.blog {
    grid-template-columns: 1fr;
  }

  .card {
    grid-row-gap: 12px;
    padding: 24px;
  }

  .img-and-header {
    grid-column-gap: 12px;
    grid-row-gap: 12px;
    flex-flow: column;
  }

  .image-5 {
    width: 48px;
    height: 48px;
  }

  .service-card-title {
    font-size: 18px;
  }

  .list-text {
    font-size: 14px;
  }

  .section_case-studies {
    max-width: 100%;
    padding: 48px 24px;
  }

  .section_text {
    padding: 0;
  }

  .swiper-slide.trusted-by-item {
    height: auto;
  }

  .section_team {
    max-width: 100%;
    padding: 48px 24px;
  }

  .team-col {
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    flex-flow: column;
  }

  .team-image {
    aspect-ratio: 1;
    align-self: stretch;
    max-width: 100%;
  }

  .section_blog {
    max-width: 100%;
    padding: 48px 24px;
  }

  .secondary-button.blogs-wide {
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .blog-tag-row {
    flex-flow: wrap;
  }

  .blog-grid {
    grid-column-gap: 48px;
    grid-row-gap: 48px;
  }

  .section_contact {
    max-width: 100%;
    padding: 48px 24px;
  }

  .form-wrapper {
    padding: 24px;
  }

  .footer {
    max-width: 100%;
    padding: 48px 24px;
  }

  .left-top-container {
    grid-row-gap: 12px;
  }

  .footer-large-txt {
    font-size: 18px;
    line-height: 140%;
  }

  .legal-txt {
    text-align: center;
    white-space: normal;
  }

  .legal-link-wrapper {
    grid-row-gap: 12px;
    flex-flow: column;
    justify-content: center;
    align-items: center;
  }

  .section_header {
    padding: 120px 24px 40px;
  }

  .section_blog-grid {
    max-width: 100%;
    padding: 40px 24px 48px;
  }

  .breadcrumb-wrapper {
    grid-row-gap: 12px;
    flex-flow: wrap;
  }

  .breadcrumb-link.active-page {
    text-align: left;
    white-space: normal;
  }

  .section_featured-blog {
    padding: 0 24px;
  }

  .right-container {
    padding: 24px;
  }

  .featured-blog-title {
    font-size: 24px;
  }

  .blog-details-row {
    grid-row-gap: 8px;
    flex-flow: column;
  }

  .details-txt {
    white-space: nowrap;
  }

  .tag-filter-row {
    grid-row-gap: 12px;
    flex-flow: wrap;
  }

  .filter-txt {
    white-space: nowrap;
    font-size: 14px;
  }

  .pagination-page-inactive {
    display: none;
  }

  .pagination-page-inactive.last {
    display: flex;
  }

  .ft-blog-tag {
    padding: 4px 8px;
  }

  .body-large {
    font-size: 16px;
  }

  .blog-details-wrapper {
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    flex-flow: wrap;
  }

  .section_featured-image {
    padding: 0 24px;
  }

  .section-blog-content, .section-read-more {
    max-width: 100%;
    padding: 40px 24px 48px;
  }

  .jump-to {
    display: none;
  }

  .blog-content-grid {
    grid-column-gap: 48px;
    grid-row-gap: 48px;
  }
}

#w-node-_397b2d89-5999-8872-6125-03ad871e93ca-f86bc39c, #w-node-_66edd9a2-d3e1-4155-24f6-473270acd461-f86bc39c, #w-node-_5db4e95a-ad94-fd7f-2845-d0e1f4506c0a-f86bc39c, #w-node-fae4bb60-83fb-9d20-cb0d-2c3bbbc8b7ca-f86bc39c, #w-node-f7eaf8bc-2020-5840-7999-1710a7b2c3d8-f86bc39c, #w-node-_1c2068b3-f09a-b30b-39c7-1b203a2224bb-f86bc39c, #w-node-af20e294-c96d-1fdc-cdab-0545a610e9af-f86bc39c, #w-node-_0923aa63-b2fe-b820-bdda-9bea5254decf-f86bc3a0 {
  justify-self: stretch;
}

@media screen and (max-width: 991px) {
  #w-node-eac2862a-6122-f9a0-c1ec-77d6ff313d49-f86bc39c {
    order: 9999;
  }
}

@media screen and (max-width: 767px) {
  #w-node-a30e239d-8335-23a2-6a1d-e21179858395-f86bc3a1 {
    order: 9999;
  }
}

@media screen and (max-width: 479px) {
  #w-node-a30e239d-8335-23a2-6a1d-e21179858395-f86bc3a1 {
    order: 9999;
  }
}


